@model DAL.Models.LoginModel

<h1>GPT proxy</h1>
<h2>Вход на сайт</h2>
<h3>Авторизация</h3>

<style>
    *
    {
        font-family: 'Comic Sans MS';
        color: deeppink;
    }
</style>

<form action="/login" method="post">

    <span>Логин:</span>
    <input type="text" name="email" />
    <br />
    <span>Пароль:</span>
    <input type="text" name="password" />
    <br />
    <span>Кнопка:</span>
    <input type="submit" name="password" />

</form>